@inherits LayoutComponentBase

<div class="page">
    <div>
        <Header />
    </div>

    @* <div class="main">
        <div class="top-row px-4">
            <div class="ml-md-auto">
                <LoginDisplay />
            </div>
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div> *@
    <div class="main">
        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
