<div class="card m-0">
    <div class="card-header d-flex justify-content-between">
        <div>@Client</div>
        <div>@Estimate h</div>
    </div>
    @* <div class="card-body m-0">
        <h6 class="card-title">Sviluppo</h6>
    </div> *@
</div>

@code {
    [Parameter] public string Client {get;set;}
    [Parameter] public float Estimate {get;set;}

}